
.im-prev-container {
    position: fixed;
    top: 100px;
    height: 350px;
    width: 400px;
    z-index: 1000;
}

@media(max-width:700px){
    .im-prev-container {
        width: 298px;
        left: 0px;
    }
    .prev-im-size {
        width: 100%;
        box-shadow:10px 5px 60px 10px rgba(36, 36, 36, 1);
    }
}