.login-container {
    height: 100px;
    width: 300px;
    border-radius: 1vw;
    background-color: #6495ed;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: stretch;
    top: 11vh;
    right: 15px;
    position: absolute;
    z-index:100;
}

.input-element {
    margin: 6px;
}

.non-link-button {
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
}