.edit-project-container {
    width: 100%;
    min-height: 200px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
    overflow-y: hidden;
  }

.edit-project-row {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}

.input-left-column {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}

.pic-add {
    height: 80px;
    width: 100%;
    border-bottom: solid 1px #555;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    overflow: hidden;
    
}

.text-add {
    margin-right: 25px;
    margin-top: 230px;
}

.section-title {
    height: 20px;
    width: 100%;
    border-top: solid 1px #6495ed;
    margin-top: 10px;
    text-align: left;
    margin-left: 5px;
    font-size: x-small;
    font-weight: 600
}

.pic-title {
    height: 100px;
}

.row-x {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    height: 95px;
    margin-top: 20px;
}

  .input[type='file']
  {
      text-indent: -999em;
      outline: none;
      position: absolute;
      opacity: .1;
      height: 50px;
  }
.select-photo-1 {
    left: 5px;
    bottom: 5px;
    width: 50%;
    height: 100%;
}

.select-photo-text {
    position: relative;
    color: #555;
    left: 50px;
}

.photo-input-box {
    position: relative;
    height: 90px;
    width: 150px;
    margin-left: 0px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
    
}
.file-input-box {
    height: 90px;
    width: 280px;
    background-color: brown;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}

.column {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.text-input {
    margin-top:10px;
    height: 33px;
    width: 75%;
    color: #555;
    text-decoration: overline;
    font-size: 20px;
    border-radius: 5px;
    text-align: top;
    border: solid 1px #6495ed;
}
.input-description {
    height: 200px;
}

.add-button {
    background: linear-gradient(0turn,#5077be,#6495ed);
    height: 25px;
    width: 60px;
    border-radius: 2px;
    font-size: smaller;
    border:solid 1px #3c598e
}
.pic-button {
    margin-bottom: 25px;
}
.file-button {
    margin-right: 25px;
    color: #fff;
}

@media (max-width:680px) {
    .text-input {
        width: 100%;
    }
    .input-description {
        height: 100px;
    }

    .text-add {
        margin-right: 22px;
        margin-top: 10px;
    }

}