
.im-prev-container {
    position: fixed;
    top: 100px;
    height: 250px;
    width: 400px;
    background-color: red;
    z-index: 1000;
    box-shadow:10px 5px 60px 10px rgba(36, 36, 36, 1);
}

@media(max-width:700px){
    .im-prev-container {
        width: 298px;
        height: 191px;
    }
}