
.game-container {
    /* position: relative; */
    /* height: 400px; */
    /* width: 200px; */
    /* top: 50px; */
    /* z-index: 10000; */
    
    /* position: absolute; */
    /* position: fixed; */
    height: 450px;
    /* width: 350px; */
    width: 390px;
    /* padding: 2px; */
    border-radius: 3%;
    background-color: #fff;
    /* background-color: chartreuse; */
    color: #555;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/* align-items: center; */
    align-items: flex-start;
	align-content: center;
    /* top: 20vh; */
    top: 5vh;
    /* padding: 0px; */

    /* display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center; */

    /* position: absolute; */
    position: fixed;
    /* right: 50%; */
    /* left: 30px; */
    /* margin: auto; */
    z-index:1;
    box-shadow:10px 5px 60px 10px rgba(36, 36, 36, 1);
    margin: none;
    overflow: hidden;
}

.game-title {
    color: #fff;
    position: absolute;
    text-transform: none;
    top: -1px;
    height: 40px;
    /* width: 355px; */
    /* width: 300px; */
    width: 100%;
    background: linear-gradient(0turn,#5077be,#6495ed);
    padding-top: 10%;
    margin: none;
    transition: all 100ms;
}

.foe-photo {
    position: absolute;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 10000;
}

@media(max-width:690px) {
    .game-container{
        left: 30px;
    }
}

@media (max-width:430px) {
    .game-container {
        width: 350px;
        left: 20px;
    }
}

@media (max-width:370px) {
    .game-container {
        left: 10px;
    }
}

@media (max-width:350px) {
    .game-container {
        width: 300px;
    }
}

@media (max-width:300px) {
    .game-container {
        width: 280px;
    }
}