
.admin-container {
    min-height: 500px;
    width: 90vw;
    background-color: blue;
    margin: auto;

    /* z-index: 12; */
}

.add-doc-div {
    height: 400px;
    width: 400px;
    /* background-color: chartreuse; */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

input[type="text"]
{
    background: transparent;
    /* height: 100vh; */
    height: 80px;
    width: 300px;
    border-radius: 5%;
    overflow-x: none;

    word-wrap: break-word;
    word-break: break-all;
}