.text-container {
    position: absolute;
    height: 430px;
    max-width: 800px;
    background-color: blue;
}

.admin-memo-body {
    width: 95%;
}

@media (max-width:400px) {
    .text-container {
        width: 100%;
    }
}