/* .featured-projects {
    min-height: 80vh;
    width: 100vw;
    padding-left: 130px;
    padding-right: 130px;
    background-color: rgb(240, 240, 240);
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.project-containers {

    height: 100px;
    width: 125px;
    background-color: rgb(106, 106, 116);
    border-radius: 5%;
    box-shadow: 1px 1px #d1d1d1;
} */

