

.project-container {
    border-radius: 2%;
    margin: 10px;
    /* margin-left: 30px; */
    /* margin: auto; */

    padding-bottom: 30px;
    /* padding-top: 5%; */
    height: 350px;
    width: 280px;
    /* box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%); */
    /* box-shadow: 1px 1px#d1d1d1; */
    /* box-shadow: inset 0 0 1px #000000; */
    box-shadow: 0px 5px 20px -7px #000000;
    background-color: #fff;
    /* background: linear-gradient(0turn,#fff,rgb(231, 231, 231)); */
    text-align: left;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	/* justify-content: space-between; */
    justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
    /* z-index: 1100; */
}

.project-selection-title {
    background-color: #6495ed;
    opacity: .8;
    height: 32px;
    width: 645px;
    display: flex;
}

.prodect-selection-h3 {
    /* margin-left: 10px; */
    margin: auto;
    color: #3c598e;
    text-transform: none;
    font-weight: 600;
}

/* .small-text {
    font-size: 12px;
    margin: 2px;
    display: flex;
} */

.project-text {
    color: #555;
    /* margin: auto; */
    margin: 10px;
    /* margin-top: 31px; */
    /* padding-right: 10px; */
    font-size: 15px;
}

.down-load-h-text {
    width: 90px;
    height: 25px;
    /* margin-right: 10px; */
    /* left: -20px; */
    /* background-color: #3c598e */
}

.show-dl-url {
    z-index: 10;
}

.photo-title-border {
    display: flex;
    flex-direction: row;    
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    margin-top: 5px;
}

/* .project-box-h4 {
    color: #555;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    text-transform: none;
} */

.project-user-photo {

    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;
    z-index: 0;
    /* background-color: blue; */
}

/* .usr-nm-txt {
    margin-left: 10px;
    margin-bottom: 2px;
    color: #6495ed;
} */

.image-div {
    max-height: 195px;
    width: 280px;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.model-photo {
        opacity: 0.7;
        width: 280px;
        height: auto;
        -webkit-transform: scale(2.15);
        -ms-transform: scale(2.15);
        transform: scale(1.15);
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
        overflow: hidden;
}

.model-photo:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);

    transform: scale(1.03);
    
}


.big {
    height: 50px;
    opacity: 50%;
    margin: auto;
    margin-right: 10px;
    margin-top: 19px;
    color:  #6495ed;
}

.icon-big {
    margin-left: 25px;
    height: 6vh;
}

.download-container {
    border-top:1px solid #555;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	align-content: stretch;
}

.like-share {
    height: 20%;
    border-left:1px solid #555555;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: stretch;
}

.like-share-box {
    height: 40px;
    width: 131px;
    margin: none;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.like-share-text {
    color: #555;
    font-size: 15px;
    opacity: none;
}

/* .small-icon {
    padding-top: 10px;
    height: 25px;
    color: #6495ed;
}

.small-icon-tweaks {
    padding-left: 40px;
    margin-bottom: 10px;
} */

.view {
    margin: none;
    /* margin-top: 10px; */
    min-height: 90vh;
    /* height: 90vh; */
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(white-backround1.jpg);
    /* background-color: red; */
    background-size: cover; 
    background-position: center bottom;
    background-attachment: fixed;
    display: flex;
	flex-direction: column;
}

.detail-container {
    margin: auto;
    /* background-color: red; */
    margin-bottom: 0;
    margin-top: 5px;
    height: 312px;
    width: 660px;
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

.detail-photo-main {
    width: 600px;
    max-height: 600px;
    margin: none; 
    padding: 0%;
	display: inline-block;
    flex-direction: row;
}

.right-col {
    margin: none;
    height: 400px;
    width: 20px;
    float: right;
}

.detail-photo {
    height: 300px;
    width: 350px;
    margin: 5px;
    margin-left: 8px;
    pointer-events: none;
}

/* --- detail box classes --- */

.detail-box {
    height: 70px;
    width: 645px;
    background-color: #fff;
    display: flex;
}

.small { /* part of detail box class above */
    height: 59px;
    width: 290px;
    margin-left: 2px;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: solid 1px rgb(85, 85, 85,.3) ;
    border-left:solid 1px rgb(85, 85, 85,.3)  ;
    border-right:solid 1px rgb(85, 85, 85,.3) ;
}

.selected {
    background-color: #3c598e;
}

.down-load { /* also part of detail box*/
    background-color: #3c598e
}

.down-load-selected {
    background-color: #fff;
    border: 1px solid #6495ed
}


.down-load-text {
    margin: auto;
    color: #fff;
}

.down-load-text-selected {
    margin: auto;
    color: #555;
}
/* ------------------------------- */

.logo-box {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
    margin-right: 6px;
}

.top-section {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}

.left {
    position: relative;
    width: 360px;
    height: 310px;
    margin: none;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	align-content: stretch;
}

.right {
    width: 300px;
    height: 310px;
    margin: none;
    padding-top: 5px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: baseline;
	align-content: stretch;
}

/* .dark-text {
    padding-top: 15px;
    padding-bottom: 5px;
    color: #555;
    margin: auto;
    margin-left: 10px;
} */

.light-text {
    color: #fff;
    margin: auto;
    margin-left: 5px;
}


.details-icon-big {
    height: 30px;
    opacity: 50%;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    color:  #555;
}

.selected-icon {
    color: #fff;
}

.comment-box {
    margin: auto;
    padding-top: 10px;
    min-height: 300px;
    width: 645px;
    background-color: #fff;
    border-radius: .1%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}


.image-viewer {
    height: 75px;
    width: 645px;
    background-color: #fff;
    border-radius: .1%;
    margin: auto;
    margin-bottom: 4px;
    margin-top: 4px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
    overflow-y: hidden;
    border-top:solid 1px rgb(85, 85, 85,.3) ;
    border-bottom: solid 1px rgb(85, 85, 85,.3) ;
    border-left:solid 1px rgb(85, 85, 85,.3)  ;
    border-right:solid 1px rgb(85, 85, 85,.3) ;
}

.thumbnail-image {
    height: 50px;
    width: 60px;
    border-radius: 5%;
}

.hyperlink {
    color: white;
    text-decoration: none;
}


@media (max-width:680px) {

    .prodect-selection-h3 {
        font-size: large;
    }

    .project-selection-title {
        width: 100%;
    }

    .detail-container {
        min-height: 560px;
        width: 400px;
    }

    .detail-photo {
        /* width: 300px; */
        width: 100%;
        height: 230px;
    }

    .left {
        width: 300px;
        /* height: 300px; */
        height: auto;
        margin: auto;
        overflow: hidden;
    }
    
    /* .right {
        width: 330px;
    } */

    .detail-box {
        width: 300px;
        margin: none;
    }

    .image-viewer,
    .comment-box {
        /* background-color: palevioletred; */
        width: 300px;
    }
    .comment-box {
        /* margin-top: 40px; */
    }

    .post-box {
        width: 290px;
    }

}

@media (max-width:400px) {
    .detail-container {
        width: 300px;
    }
}

@media (max-width:325px) {
    .project-container {
        width: 250px;
    }

    .image-div {
        width:250px
    }

    .like-share-text {
        font-size: 12px;
    }

    .like-share-box {
        width: 100px;
        margin-right: 15px;
        padding-right: 1px;
    }

    .small-icon-tweaks {
        padding-left: 10px;
    }
}

@media (max-width:300px) {
    .project-container {
        width: 220px;
    }

    .like-share-box {
        width: 150px;
        margin-right: 15px;
        padding-right: 1px;
    }

    .image-div {
        width: 220px;
    }

    .like-share-box {
        margin-right: 2px;
        padding-right: 0px;
    }

    .project-text {
        display: none;
    }

    .small-icon-tweaks {
        padding-left: 40px;
    }

    /* .usr-nm-txt {
        font-size: x-small;
        font-weight: 400;
    } */
}

@media (max-height:520px) {
    .project-container {
        height: 330px;
        /* box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%); */
        box-shadow: 1px 1px #d1d1d1;
    }
    .image-div {
        max-height: 170px;
    }
}

@media (max-height:500px) {
    .project-container {
        height: 320px;
    }
    .image-div {
        max-height: 160px;
    }
    /* .usr-nm-txt {
        font-size: x-small;
        font-weight: 400;
    } */
}

@media (max-height:485px) {
    /* .dark-text { */
        /* font-size: large; */
    /* } */
    /* .usr-nm-txt {
        font-size: xx-small;
        font-weight: 600;
    } */
}

@media (max-height:375px) {

    .project-container {
        height: 200px;
        min-width: 192px;
        padding-bottom: 0px;
        margin: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        border: solid 1px #fff;
        overflow: hidden;
    }
    .img {
        max-width: 200px;
    }

    /* .photo-title-border {
        margin-bottom: auto;
        margin-top: 2%;
    } */

    .usr-nm-txt {
        display: none;
    }

    .image-div {
        width: 190px;
        margin: none;
        margin-top: 5%;
    }

    .download-container {
        height: 0px;
        width: 0ps;
        display: none;
    }

    .user-photo {
        margin: 0px;
    }

    .dark-text {
        margin: none;
        font-size: large;
        font-weight: 400;
    }
}

