.project-container {
    border-radius: 2%;
    margin: 10px;
    padding-bottom: 30px;
    height: 350px;
    width: 280px;
    box-shadow: .1px .1px #888888;
    background-color: #fff;
    text-align: left;
}

.small-text {
    font-size: 12px;
    margin: 2px;
    display: flex;
}

.project-text {
    color: #555;
    margin: auto;
    margin-top: 31px;
    margin-left: 0px;
    font-size: 15px;
}

.show-dl-url {
    z-index: 10;
}

.photo-title-border {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    margin-top: 0px;
}

.project-box-h4 {
    color: #555;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    text-transform: none;
}

.user-photo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 10px;
}

.img {
    /* width: 100%; */
    width: 250px;
    /* height: 60%; */
    height: 150px;
    margin-left: 15px;
    /* border-radius: 5%; */
    /* opacity: .4; */
    /* filter: brightness(200%); */
}


.big {
    height: 50px;
    opacity: 50%;
    margin: auto;
    margin-right: 10px;
    margin-top: 19px;
    color:  #6495ed;
}

.icon-big {
    /* margin:auto; */
    /* margin-top: 0%; */
    margin-left: 25px;
    /* margin-right: 100vw; */
    /* float: left; */
    height: 6vh;
}

.download-container {

    /* border-top:1px solid #555;
    opacity: 10%; */
    /* margin: none; */

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
    justify-content: center;
	align-items: center;
	align-content: stretch;
}

.download-container-top {
    border-top:1px solid #555;
    opacity: 10%;
    margin: none;
}

.like-share {
    height: 20%;
    /* background-color: blue; */
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: stretch;
    /* margin: 20px; */
}

.like-share-box {
    height: 40px;
    /* border-left:1px solid #555; */
    /* opacity: 10%; */
    margin: none;
    margin-right:30px ;
    padding-right: 20px;

    /* background-color: blue */
}

.like-share-text {
    /* margin: auto; */
    color: #555;
    font-size: 15px;
    margin-left: 20px;
    opacity: none;
    /* border-bottom: 2px solid yellow; */
}

.devide {
    height: 0px;
    border-bottom:1px solid #555;
    opacity: 10%;
    margin: 0px;
}

.horizontal-devide {
    height: 82px;
    padding-bottom: 10px;
    opacity: 10%;
    /* width: 220px; */
    /* border-right:10px #555; */
    border-left:1px solid #555;
}

.small-icon {
    padding-top: 10px;
    height: 25px;
    color: #6495ed;
    margin-right: 10px;
    /* background-color: yellow; */
}

/* details container stying  */

.view {
    /* margin: auto; */
    /* padding: 50%; */
    min-height: 90vh;
    width: 100vw;
    /* width: 660px; */
    /* background-color: green; */
    background-color: rgb(240, 240, 240);
    /* display:inline-flexbox; */
    display: flex;
	flex-direction: column;
	/* flex-wrap: nowrap; */
    flex-wrap: nowrap;
	justify-content: center;
	/* align-items: baseline; */
	align-content: flex-start;
}

.detail-container {
    margin: auto;
    margin-bottom: 0;
    margin-top: 10px;
    /* padding: 50%; */
    height: 380px;
    /* width: 100vw; */
    width: 660px;
    /* background-color: blue; */
    /* background-color: rgb(240, 240, 240); */
    /* display:inline-flexbox; */
    display: flex;
	flex-direction: row;
	/* flex-wrap: nowrap; */
    flex-wrap: wrap;
	justify-content: center;
	/* align-items: baseline; */
	align-content: flex-start;
}

.detail-photo-main {
    /* height: 600px; */
    width: 600px;
    max-height: 600px;
    margin: none; 
    padding: 0%;
    background-color: red;
	display: inline-block;
    flex-direction: row;
     /* background-color: #fff; */
}

.right-col {
    margin: none;
    height: 400px;
    width: 20px;
    float: right;
    background-color: green;
}

.bottom-row {
    height: 200px;
    width: 750px;
    background-color: hotpink;
}

.detail-photo {
    height: 300px;
    width: 350px;
    margin: 5px;
}

/* --- detail box classes --- */

.detail-box {
    height: 60px;
    width: 660px;
    /* width: 645px; */
    background-color: #fff;
    display: flex;
    box-shadow: .1px .1px#555;
    /* box-shadow: .1px .1px#555; */
    /* margin: 5px; */
}

.small { /* part of detail box class above */
    height: 59px;
    width: 290px;
    margin-top: 1px;
    box-shadow: none;
    /* margin: 5px; */
}

.selected {
    background-color: #3c598e;
}

/* .small-selected {
    height: 60px;
    width: 290px;
    background-color: #3c598e;
    display: flex;
    margin: 1px;
} */

.down-load { /* also part of detail box*/
    background-color: #3c598e
}

.down-load-selected {
    background-color: #fff;
    border: 1px solid #6495ed
}


.down-load-text {
    margin: auto;
    color: #fff;
}

.down-load-text-selected {
    margin: auto;
    color: #555;
}

/* ------------------------------- */

.logo-box {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
    margin-right: 6px;
}

.top-section {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}

.left {
    width: 360px;
    height: 400px;
    margin: none;
    /* background-color: yellow; */
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* justify-content: center; */
	align-items: baseline;
	align-content: stretch;
}

.right {
    width: 300px;
    height: 400px;
    margin: none;
    margin-top: 65px;
    /* background-color: red; */
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* justify-content: center; */
	align-items: baseline;
	align-content: stretch;
}

.dark-text {
    color: #555;
    margin: auto;
    margin-left: 5px;
}

.light-text {
    color: #fff;
    margin: auto;
    margin-left: 5px;
}


.details-icon-big {
    height: 30px;
    opacity: 50%;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-top: 19px; */
    /* color:  #6495ed; */
    color:  #555;
}

.selected-icon {
    /* background-color: #3c598e; */
    color: #fff;
}

.comment-box {
    margin: auto;
    margin-top: 2px;
    height: 300px;
    width: 660px;
    background-color: #fff;
    /* box-shadow: .1px .1px#555; */
    border-radius: .1%;
    
    /* background-color: orangered; */
}

.hyperlink {
    color: white;
    text-decoration: none;
}

