.project-container {
    border-radius: 2%;
    margin: 10px;
    /* margin-right: 40px; */

    padding-bottom: 30px;
    height: 350px;
    width: 280px;
    box-shadow: .1px .1px #888888;
    background-color: #fff;
    text-align: left;
    /* opacity: 80%; */

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
    /* justify-content: space-around; */
	align-items: stretch;
	align-content: stretch;
}

.small-text {
    font-size: 12px;
    margin: 2px;
    display: flex;
}

.project-text {
    color: #555;
    margin: auto;
    margin-top: 31px;
    margin-left: 0px;
    font-size: 15px;
}

.show-dl-url {
    z-index: 10;
}

.photo-title-border {
    display: flex;
    flex-direction: row;    
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    margin-top: 0px;
}

.project-box-h4 {
    color: #555;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    text-transform: none;
}

.user-photo {

    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 10px;
    z-index: 0;
}

.image-div {
    /* height: 150px; */
    max-height: 195px;
    width: 280px;
    /* height: auto; */
    margin: 0;
    background-color: #000;
    overflow: hidden;

    /* width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000; */

}

.img {
    /* width: 100%;

    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; */


        opacity: 0.7;
        /* height: 100%; */
        /* width: 100%; */
        width: 280px;
        height: auto;
        /* -webkit-transform: scale(1.15); */
        -webkit-transform: scale(2.15);
        /* -ms-transform: scale(1.15); */
        -ms-transform: scale(2.15);
        transform: scale(1.15);
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
        overflow: hidden;
}

img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);

    transform: scale(1.03);
    
}


.big {
    height: 50px;
    opacity: 50%;
    margin: auto;
    margin-right: 10px;
    margin-top: 19px;
    color:  #6495ed;
}

.icon-big {
    /* margin:auto; */
    /* margin-top: 0%; */
    margin-left: 25px;
    /* margin-right: 100vw; */
    /* float: left; */
    height: 6vh;
}

.download-container {

    /* border-top:1px solid #555;
    opacity: 10%; */
    /* margin: none; */
    /* border-top:.1px solid #555; */
    /* opacity: 10%; */
    /* margin-top: 5%; */
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
    justify-content: center;
	align-items: center;
	align-content: stretch;
}

.download-container-top {
    border-top:1px solid #555;
    opacity: 10%;
    margin: none;
}

.like-share {
    height: 20%;
    /* background-color: blue; */
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: stretch;
    /* margin: 20px; */
}

.like-share-box {
    height: 40px;
    /* border-left:1px solid #555; */
    /* opacity: 10%; */
    margin: none;
    margin-right:30px ;
    padding-right: 20px;

    /* background-color: blue */
}

.like-share-text {
    /* margin: auto; */
    color: #555;
    font-size: 15px;
    margin-left: 20px;
    opacity: none;
    /* border-bottom: 2px solid yellow; */
}

.devide {
    height: 0px;
    border-bottom:1px solid #555;
    opacity: 10%;
    margin: 0px;
}

.horizontal-devide {
    height: 82px;
    margin-bottom: none;
    opacity: 10%;
    border-left:1px solid #555;

}

.small-icon {
    padding-top: 10px;
    height: 25px;
    color: #6495ed;
    margin-right: 10px;
    /* background-color: yellow; */
}

/* details container stying  */

.view {
    /* margin: auto; */
    /* padding: 50%; */
    min-height: 90vh;
    width: 100vw;
    /* width: 660px; */
    /* background-color: green; */
    background-color: rgb(240, 240, 240);
    /* display:inline-flexbox; */
    display: flex;
	flex-direction: column;
	/* flex-wrap: nowrap; */
    flex-wrap: nowrap;
	justify-content: center;
	/* align-items: baseline; */
	align-content: flex-start;
}

.detail-container {
    margin: auto;
    margin-bottom: 0;
    margin-top: 10px;
    /* padding: 50%; */
    height: 380px;
    /* width: 100vw; */
    width: 660px;
    /* background-color: blue; */
    /* background-color: rgb(240, 240, 240); */
    /* display:inline-flexbox; */
    display: flex;
	flex-direction: row;
	/* flex-wrap: nowrap; */
    flex-wrap: wrap;
	justify-content: center;
	/* align-items: baseline; */
	align-content: flex-start;
}

.detail-photo-main {
    /* height: 600px; */
    width: 600px;
    max-height: 600px;
    margin: none; 
    padding: 0%;
    background-color: red;
	display: inline-block;
    flex-direction: row;
     /* background-color: #fff; */
}

.right-col {
    margin: none;
    height: 400px;
    width: 20px;
    float: right;
    background-color: green;
}

.bottom-row {
    height: 200px;
    width: 750px;
    background-color: hotpink;
}

.detail-photo {
    height: 300px;
    width: 350px;
    margin: 5px;
}

/* --- detail box classes --- */

.detail-box {
    height: 60px;
    width: 660px;
    /* width: 645px; */
    background-color: #fff;
    display: flex;
    box-shadow: .1px .1px #555;
    /* box-shadow: 10px 10px #000; */
    /* margin: 5px; */
}

.small { /* part of detail box class above */
    height: 59px;
    width: 290px;
    margin-top: 1px;
    box-shadow: none;
    /* margin: 5px; */
}

.selected {
    background-color: #3c598e;
}

/* .small-selected {
    height: 60px;
    width: 290px;
    background-color: #3c598e;
    display: flex;
    margin: 1px;
} */

.down-load { /* also part of detail box*/
    background-color: #3c598e
}

.down-load-selected {
    background-color: #fff;
    border: 1px solid #6495ed
}


.down-load-text {
    margin: auto;
    color: #fff;
}

.down-load-text-selected {
    margin: auto;
    color: #555;
}

/* ------------------------------- */

.logo-box {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
    margin-right: 6px;
}

.top-section {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}

.left {
    width: 360px;
    height: 400px;
    margin: none;
    /* background-color: yellow; */
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* justify-content: center; */
	align-items: baseline;
	align-content: stretch;
}

.right {
    width: 300px;
    height: 400px;
    margin: none;
    margin-top: 65px;
    /* background-color: red; */
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* justify-content: center; */
	align-items: baseline;
	align-content: stretch;
}

.dark-text {
    color: #555;
    margin: auto;
    margin-left: 5px;
}

.light-text {
    color: #fff;
    margin: auto;
    margin-left: 5px;
}


.details-icon-big {
    height: 30px;
    opacity: 50%;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-top: 19px; */
    /* color:  #6495ed; */
    color:  #555;
}

.selected-icon {
    /* background-color: #3c598e; */
    color: #fff;
}

.comment-box {
    margin: auto;
    margin-top: 2px;
    height: 300px;
    width: 660px;
    background-color: #fff;
    /* box-shadow: .1px .1px#555; */
    border-radius: .1%;
    
    /* background-color: orangered; */
}

.hyperlink {
    color: white;
    text-decoration: none;
}

@media (max-height:525px) {
    .project-container {
        max-height: 290px;
    }

    .download-container {
        display: none;
    }

    .img {
        height: 200px;
        width: 100%;
    }
}

@media (max-height:430px) {
    .img {
        height: 150px;
        /* width: 80%; */
        
    }

    .image-div {
        width: 200px;
    }

    .project-container {
        height: 250px;
    }

    .user-photo {
        margin: 0px;
    }

    .dark-text {
        margin: none;
        font-size: small;
        /* height: 2px; */
    }
}

@media (max-height:400px) {
    .img {
        height: 100px;
    }

    .image-div {
        width: 150px;
    }

    .project-container {
        height: 200px;
    }
}