

.hero {
    /* height: 75vh; */
     height: 90vh;
     width: 100vw;
     /* background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(chessboard2.png); */
     background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(blender_background.png);
     background-size: cover; 
     background-position: center bottom;
     background-attachment: fixed;
     /* display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: stretch;
     align-content: flex-start;
     padding-left: 15vw;
     padding-top: 30px;
     overflow-y: scroll; */

     display: flex;
     flex-direction: row;
     /* flex-direction: column; */
     flex-wrap: wrap;
     justify-content: space-around;
     
     align-items: center;
     align-content: center;
     overflow-x: scroll;
     overflow-y: scroll;
     overflow: hidden;
     /* margin: auto; */



}

.deploy-projects {
    height: 70vh;
    /* height: 375px; */
    width: 180vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* justify-content: space-around; */
    /* justify-content: flex-start;   */
	align-items: center;
	align-content: center;
    /* overflow-x: scroll; */
    overflow-y: hidden;
    z-index: 12;
    /* display: inline-block; */
    /* border-radius: 8%; */
    /* white-space: pre-wrap; */
    /* background-color: blue; */
}


::-webkit-scrollbar {
    width: 20px;
  }





.icon-container {
    min-height: 55vh;
    width: 60vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: flex-end;
}

.icon {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 100vw;
    /* float: left; */
    height: 4vh;
    color:  #6495ed;
}

.intro-text {
    text-align: left;
    margin: auto;
    margin-top: 50px;
    /* margin-right: 100px; */
    height: 15vh;
    width: 80vw;
    color: #555;
    background-color: #fff;
}

.light-background-text {
    color: #555;
}

.dark-background-text {
    color: #fff;
}

.title-border {
    /* margin: auto; */
    /* margin-left: 5px; */
    margin-top: 20px;
    margin-left: 45vw;
    /* margin-bottom: 10px; */
    width: 10vw;
    border-bottom: 2px solid #6495ed;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.icon-h4 {
    float: left;
    margin-left: 35px;
    margin-top: 15px;
}

.icon-h3 {
    /* background-color: teal; */
    margin: auto;
    text-align: center;
}

.icon-text {
    /* float: left; */
    margin-top: 60px;
    margin-left: 30px;
    height: 100px;
    width: 80vw;
    font-size: 12px;
    font-weight: 300;
    color: #555;
    text-align: left;
    /* background-color: yellow; */
}

@media (max-width: 540px) {

    /* .icon-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: flex-end;
    } */

    .icon {
        /* background-color: yellowgreen; */
        height: 3vh;
        justify-content: center;
        float: left;
        margin:auto;
        margin-top: 20px;
        margin-left: 10px;
    }

    .icon-h4 {
        /* background-color: yellowgreen; */
        padding-bottom: 10px;
        width: 80vw;
        height: 4vh;
        text-align: center;
    }

    .icon-text {
        /* background-color: tomato; */
        text-align: center;
        height: 300px;
        width: 80vw;
    }
}

@media (max-width:400px) {
    .hero-h2 {
        display: none;
    }
}

@media (max-width: 370px) {
    .icon-h3 {
        font-size: 20px;
    }

    .icon-h4{
        /* margin-left: 0px; */
        margin-bottom: 20px;
    }

    .icon {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        height: 3vh;
        width: 100%;
    }

}

@media (max-height:525px) {
    .hero-h2 {
        display: none;
    }
}

@media (max-width:300px) {
    .hero {
        width: 300px;
    }
}