
/* h3 {
    font-weight: 300;
} */

.header-h3 {
    margin: 0px;
    margin-right: 30px;
    font-weight: 200;
}

.header-container {
    margin: none;
    height: 10vh;
    width: 100vw;
    background-color: rgb(223, 217, 217);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.link-list {
    list-style-type: none;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-between;

	align-items: center;
	align-content: center;
}

/* .link-item {
    margin-right: 30px;
} */

.link-list li {
    margin-right: 30px;
}

/* -----------reference------------- */

/* Main navi */
.main-nav {
    display: flex;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
}

.link-list li a:link,
.link-list li a:visited {
    padding: 8px 0;
    color: #555;
    /* color: #fff; */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    
}
    
.link-list li a:hover,
.link-list li a:active {
border-bottom: 2px solid #e67e22;
    
}

/* -------------/\reference */

.login-link {
    height: 50px;
    width: 100px;
    background-color: cornflowerblue;
    border-radius: 10%;

    box-shadow: white;
}

.hamburger {
    height: 80%;
    display: none;
  }

.mobile-nav {
    list-style-type: none;
    color: white;
    background-color: blue;
    margin-top: 50px;
    margin-right: 40px;
    position: absolute;
    top: 5vh;
    right: 0vw;
    /* width: 40px; */
    /* height: 100; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 15px; */
    /* padding-left: 50px; */
    overflow: hidden;
    opacity: 100;
    transition: all 500ms;
    z-index: 5;
}

.mobile-nav-hide {
    height: 0;
    padding: 0;
    opacity: 0;
}

.mobile-link-item {
    color: white;
    padding-right: 50px;
}



@media (max-width: 750px) {
    .link-item {
        margin-right: 10px;
    }

    .header-h3 {
        margin: 0px;
        /* margin-right: 10px; */
        /* font-weight: 200; */
    }
}


@media (max-width: 502px) {
    .link-item {
        display: none;
    }
    .login-link {
        display: none;
    }

    .hamburger {
        display:inline-block;
    }

    
}

