
.explore-container {
    padding: 1%;
    min-height: 70vh;
    /* width: 90vw; */
    /* width: 100vw; */
    min-width: 300px;
    /* background-color: rgb(221, 221, 221); */
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(white-backround1.jpg);
    background-size: cover; 
    background-position: center bottom;
    /* background-attachment: fixed; */
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
    overflow: scroll;
}

h4 {
    color: #555;
    margin: none;
}