
.signup-menu {
    border-radius: 2vw;
    margin: auto;
    margin-top: 20px;
    height: 300px;
    width: 300px;
    background-color: rgb(225, 225, 226);
}

.one-line {
    margin-left: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
}

.text {
    margin: 0%;
    margin-bottom: 3px;
    color: #555;
}

.register-link {
    margin: auto;
    margin-top: 25px;
    height: 50px;
    width: 100px;
    background-color: cornflowerblue;
    border-radius: 10%;
}